<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.com.bium.random.mapper.RBoardMapper">
    <!--  rBoard 등록 기능 구현 전에 user 유무 확인  -->
    <select id="existsByUserId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE user_id = #{userId}
    </select>

    <!--  rBoard 등록 기능 구현  -->
    <insert id="insertRBoard" parameterType="RBoardDto" useGeneratedKeys="true" keyProperty="rBoardId">
        INSERT INTO r_board(user_id, r_board_title, r_board_content)
        VALUES (
        #{userId},
        #{rBoardTitle},
        #{rBoardContent}
        )
    </insert>

</mapper>
